<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nameThatFish.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>45FC89DEDBB9D17A38774EE2EA9E009601395ECB</string>
				<key>dateExpires</key>
				<string>3/26/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>45FC89DEDBB9D17A38774EE2EA9E009601395ECB</string>
						<key>dateExpires</key>
						<string>3/26/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4BAA94W5H2</string>
						<key>name</key>
						<string>82 Digital Llc </string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4BAA94W5H2.com.82digital.namethatfish</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4BAA94W5H2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>nameThatFish.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1bf1c5ce-6c5e-4315-996d-23fec8f51ebb</string>
				<key>dateExpires</key>
				<string>6/27/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.82digital.namethatfish</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4BAA94W5H2</string>
				<key>name</key>
				<string>82 Digital Llc </string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
